<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <title>Home </title>
    <style type="text/css">
    body{
      

       background-size: cover;
       color: white;
       background-repeat: no-repeat;
       background-position: center;
       background-attachment: fixed;

     }
    section{
        background-color: rgba(118, 140, 255, 0.57);;
        padding: 40px;
        margin-top: 100px;
        margin-bottom: 60px;
        color: white;
        box-shadow: 10px 10px 5px rgba(6, 1, 1, 0.43)
       }
      
	</style>
</head>
<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><a href="/login">Log In</a></li>
      <li><a href="/signup">Sign Up</a></li>
    </ul>
  </nav>
 
<body style="background-image:  url(../static/images/4.jpg); background-color: #DDD">

   
    <section>
   <div class="add-new">
     <center style="margin-top: 10px; padding: 30px"><h1 style="color: #000000">Welcome to the ShopperList application.</h1><br><h4 style="color: #000000">
     Click on the icon to add an Item</h4></center>
     <center ><div class="add"><a href="/create" ><img src="../static/images/3.jpg" style="margin-top:-30px;margin-left: -40px; height: 50px; width: 90px"></a></div></center>

   </div>
  </section>
</body>
</html>
